html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #ffffff;
}

body, input, button {
  font-family: "Outfit", sans-serif;
}

a {
  color: rgba(255 255 255 / 0.8);
  cursor: pointer;
}

a:hover {
  color: rgba(255 255 255 / 1.0);
}

.environmentWarningLabel {
  color: rgba(255 255 255 / 1.0);
  text-align: center;
  vertical-align: middle;
}

/* ScreenContentWidth */

/* Phones */
@media (max-width: 480px) {
  .ScreenContentWidth {
    width: 320px;
  }
}

/* Not phones */
@media (min-width: 481px) {
  .ScreenContentWidth {
    width: 640px;
  }
}

/* Form */

.Form h1, .Form h2, .Form h3 {
  color: rgba(255 255 255 / 0.9);
  font-weight: 400;
}

.Form, .Form input, .Form button {
  color: rgba(255 255 255 / 0.9);
  font-size: 18px;
}

.FormReady button {
  cursor: pointer;
}

.FormBusy input, .FormBusy button {
  cursor: progress;
}

.Form button {
  margin-top: 8px;
  margin-bottom: 8px;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
}

.Form button.Primary {
  font-size: 22px;
  padding: 8px;
  border-color: rgba(255 255 255 / 0.8);
}

.Form button.Secondary {
  font-size: 20px;
  padding: 6px;
  color: rgba(255 255 255 / 0.8);
  border-color: rgba(255 255 255 / 0.0);
}

.Form button:hover {
  border-color: rgba(255 255 255 / 1.0);
  color: rgba(255 255 255 / 1.0);
}

.Form button[disabled] {
  color: rgba(255 255 255 / 0.3);
}

.Form input[type="text"] {
  background: rgb(235 235 235);
  border-radius: 16px;
  border: none;
  color: rgb(0 0 0 / 0.9);
  padding-left: 18px;
  padding-right: 18px;
}

.Form input[type="text"], .Form .TextFieldSuffix {
  font-size: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.Form .TextFieldSuffix {
  padding-left: 8px;
  padding-right: 0;
}

.Form > * {
  margin: 8px 24px;
}

.Form > .Toolbar {
  margin-left: 0;
  margin-right: 0;
}

.Form p {
  color: rgba(255 255 255 / 0.8);
  margin-top: 4px;
  margin-bottom: 12px;
}

.Form .SectionTitle {
  font-size: 22px;
  color: rgba(255 255 255 / 0.75);
  margin-top: 32px;
  margin-bottom: 12px;
}

.Form h3.CheckboxLabel {
  color: rgba(255 255 255 / 1.0);
  margin: 4px 0;
  font-size: 22px;
}

.Form input[type="checkbox"], .Form input[type="radio"] {
  transform: scale(1.5);
}

.Form .SmallText {
  font-size: 14px;
}

.Form .FinePrint {
  font-size: 14px;
  color: rgba(255 255 255 / 0.6);
}

/* SignUpScreen */

.SignUpScreen {
  background: #a100f1;
  background: linear-gradient(177deg, rgba(161, 0, 241, 1) 0%, rgba(20, 0, 105, 1) 100%);
}

.SignUpFormScreen button:hover {
  background: rgb(108 34 179 / 0.3);
}

/* BuildYoursScreen */

.BuildYoursScreen {
  background: #4c6d81;
}

/* AuthScreen */

.AuthScreen {
  background: #00C55F;
}

/* InviteScreen */

.InviteScreen {
  background: #1d72c2;
  background: linear-gradient(135deg, rgba(29, 114, 194, 1) 0%, rgba(70, 112, 75, 1) 56%, rgba(35, 9, 74, 1) 100%);
}

/* Toolbar */

.Toolbar {
  height: 64px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.ToolbarTitle {
  font-size: 24px;
  color: rgb(255 255 255);
  opacity: 0.7;
}

.ToolbarImageButton {
  background: rgb(255 255 255);
  width: 40px;
  height: 64px;
  opacity: 0.7;
  cursor: pointer;
}

.ToolbarImageButton:hover {
  opacity: 1;
}

.Toolbar > *:last-child {
  margin-right: 24px;
}

.Toolbar > *:first-child {
  margin-left: 24px;
}

/* Scrim */

.Scrim {
  transition: opacity 300ms ease-in;
  backdrop-filter: blur(2px);
  background: #00000088;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.ScrimVisible {
  opacity: 1;
  pointer-events: auto;
}

.ScrimInvisible {
  opacity: 0;
  pointer-events: none;
}

/* Dialog */

.Dialog {
  margin: 16px;
  background: rgb(36 36 36);
  color: rgb(255 255 255);
  border-radius: 24px;
  transition: all 300ms ease-in;
  width: min(100%, 420px);
}

.DialogVisible {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1.0);
}

.DialogInvisible {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
}

.Dialog .Toolbar {
  padding: 0 12px;
  margin-bottom: 0;
}

.Dialog .ToolbarImageButton {
  background: rgb(255 255 255);
}

/* Menu */

.Menu {
  background: rgb(36 36 36);
  color: rgb(255 255 255);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  width: 240px;
  transition: all 300ms ease-in;
}

.MenuVisible {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0%);
}

.MenuInvisible {
  opacity: 0;
  pointer-events: none;
  transform: translateX(30%);
}

.MenuItem {
  height: 64px;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 18px;
  opacity: 0.7;
  cursor: pointer;
}

.MenuItem:hover {
  opacity: 1;
}

.Menu .Toolbar {
  margin-bottom: 0;
}

.Menu .Toolbar > *:last-child {
  margin-right: 12px;
}

.Menu .Toolbar > *:first-child {
  margin-left: 12px;
}

.Menu .ToolbarImageButton {
  background: rgb(255 255 255);
}

/* HomeScreen */

.HomeScreen {
  background: #00C55F;
}

.HomeScreen a {
  text-decoration: none;
}

.HomeScreen h1, .HomeScreen h2, .HomeScreen h3 {
  font-weight: 400;
  color: rgba(0 0 0 / 0.8);
}

/* ComputerListUi */

.ComputerListScreen {
  background: #043c70;
  background: linear-gradient(63deg, rgba(4, 60, 112, 1) 0%, rgba(189, 81, 189, 1) 56%, rgba(209, 63, 10, 1) 100%);
}

.ComputerListScreen .SmartphoneFrame {
  cursor: pointer;
}

.NameOverlay {
  padding: 10px;
  font-size: 60px;
  color: rgba(255 255 255 / 0.9);
  background: rgba(0 0 0 / 0.5);
  transition: all 200ms ease-in;
}

.SmartphoneFrame:hover .NameOverlay {
  color: rgba(255 255 255 / 1.0);
  background: rgba(0 0 0 / 0.3);
}

/* Launcher */

.LauncherScreen {
  font-family: "Outfit", sans-serif;
  background: #1d72c2;
  background: linear-gradient(135deg, rgba(29, 114, 194, 1) 0%, rgba(70, 112, 75, 1) 56%, rgba(35, 9, 74, 1) 100%);
}

.LauncherIconList {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.LauncherIcon {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  cursor: pointer;
}

.LauncherIconImage {
  mask-image: url('/assets/launcher/mask.svg');
  transition: all 200ms ease-in;
}

.LauncherIconLabel {
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgb(255 255 255 / 0.8);
  transition: all 200ms ease-in;
}

.LauncherIcon:hover .LauncherIconImage {
  transform: scale(1.1, 1.1);
}

.LauncherIcon:hover .LauncherIconLabel {
  color: rgb(255 255 255 / 1.0);
}

/* Launcher on Phones */
@media (max-width: 480px) {
  .LauncherIcon {
    margin-top: 12px;
    width: 80px;
    height: 96px;
  }

  .LauncherIconImage {
    mask-size: 64px 64px;
    margin: 0 8px;
    width: 64px;
    height: 64px;
  }

  .LauncherIconLabel {
    font-size: 10px;
    padding-top: 4px;
    width: 80px;
    height: 32px;
  }

  .LauncherIcon:hover .LauncherIconImage {
    mask-size: 68px 68px;
    mask-position: -2px -2px;
  }
}

/* Launcher on not phones */
@media (min-width: 481px) {
  .LauncherIcon {
    margin-top: 24px;
    width: 160px;
    height: 192px;
  }

  .LauncherIconImage {
    mask-size: 128px 128px;
    margin: 0 16px;
    width: 128px;
    height: 128px;
  }

  .LauncherIconLabel {
    font-size: 16px;
    padding-top: 4px;
    width: 160px;
    height: 64px;
  }

  .LauncherIcon:hover .LauncherIconImage {
    mask-size: 136px 136px;
    mask-position: -4px -4px;
  }
}
