# fly.toml app configuration file generated for wasmo-production on 2026-02-11T11:58:19-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wasmo-production'
primary_region = 'yyz'

[build]
image = 'registry.fly.io/wasmo-production:latest'

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 1
memory_mb = 1024
