.LauncherScreen {
  font-family: "Outfit", sans-serif;
  background: #1d72c2;
  background: linear-gradient(135deg, rgba(29, 114, 194, 1) 0%, rgba(70, 112, 75, 1) 56%, rgba(35, 9, 74, 1) 100%);
}

.LauncherIconList {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.LauncherIcon {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  cursor: pointer;
}

.LauncherIconImage {
  z-index: 1;
  mask-image: url('/assets/launcher/mask.svg');
  transition: all 200ms ease-in;
}

.LauncherIconLabel {
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgb(255 255 255 / 0.8);
  transition: all 200ms ease-in;
}

.LauncherIcon:hover .LauncherIconImage {
  transform: scale(1.1, 1.1);
}

.LauncherIcon:hover .LauncherIconLabel {
  color: rgb(255 255 255 / 1.0);
}

/* Phones */
@media (max-width: 480px) {
  .LauncherIconList {
    width: 320px;
  }

  .LauncherIcon {
    margin-top: 12px;
    width: 80px;
    height: 96px;
  }

  .LauncherIconImage {
    mask-size: 64px 64px;
    margin: 0 8px;
    width: 64px;
    height: 64px;
  }

  .LauncherIconLabel {
    font-size: 10px;
    padding-top: 4px;
    width: 80px;
    height: 32px;
  }

  .LauncherIcon:hover .LauncherIconImage {
    mask-size: 68px 68px;
    mask-position: -2px -2px;
  }
}

/* Not phones */
@media (min-width: 481px) {
  .LauncherIconList {
    width: 640px;
  }

  .LauncherIcon {
    margin-top: 24px;
    width: 160px;
    height: 192px;
  }

  .LauncherIconImage {
    mask-size: 128px 128px;
    margin: 0 16px;
    width: 128px;
    height: 128px;
  }

  .LauncherIconLabel {
    font-size: 16px;
    padding-top: 4px;
    width: 160px;
    height: 64px;
  }

  .LauncherIcon:hover .LauncherIconImage {
    mask-size: 136px 136px;
    mask-position: -4px -4px;
  }
}
