html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #00C55F;
}

body, input, button {
  font-family: "Outfit", sans-serif;
}

a {
  color: rgba(255 255 255 / 0.8);
  cursor: pointer;
}

a:hover {
  color: rgba(255 255 255 / 1.0);
}

.environmentWarningLabel {
  color: rgba(255 255 255 / 1.0);
  text-align: center;
  vertical-align: middle;
}

/* FormScreen */

.FormScreen h1, .FormScreen h2 {
  color: rgba(255 255 255 / 0.9);
  font-weight: 400;
}

.FormScreen, .FormScreen input, .FormScreen button {
  color: rgba(255 255 255 / 0.9);
  font-size: 18px;
}

.FormScreenReady button {
  cursor: pointer;
}

.FormScreenBusy input, .FormScreenBusy button {
  cursor: progress;
}

.FormScreen button {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
}

.FormScreen button.Primary {
  font-size: 22px;
  padding: 8px;
  border-color: rgba(255 255 255 / 0.8);
}

.FormScreen button.Secondary {
  font-size: 20px;
  padding: 6px;
  color: rgba(255 255 255 / 0.8);
  border-color: rgba(255 255 255 / 0.0);
}

.FormScreen button:hover {
  border-color: rgba(255 255 255 / 1.0);
  color: rgba(255 255 255 / 1.0);
}

.FormScreen button[disabled] {
  color: rgba(255 255 255 / 0.3);
}

.FormScreen input[type="text"] {
  background: rgb(235 235 235);
  border-radius: 16px;
  border: none;
  color: rgb(0 0 0 / 0.9);
  padding-left: 18px;
  padding-right: 18px;
}

.FormScreen input[type="text"], .FormScreen .TextFieldSuffix {
  font-size: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.FormScreen .TextFieldSuffix {
  padding-left: 8px;
  padding-right: 0;
}

.FormScreen > div > * {
  margin: 8px 24px;
}

.FormScreen > div > .Toolbar {
  margin-left: 0;
  margin-right: 0;
}

/* SignUpScreen */

.SignUpScreen {
  background: #a100f1;
  background: linear-gradient(177deg, rgba(161, 0, 241, 1) 0%, rgba(20, 0, 105, 1) 100%);
}

.SignUpFormScreen button:hover {
  background-color: rgb(108 34 179 / 0.3);
}

/* Toolbar */

.Toolbar {
  height: 64px;
  padding: 0 24px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.ToolbarTitle {
  font-size: 24px;
  color: rgb(255 255 255 / 0.9)
}

/* HomeScreen */

.HomeScreen a {
  text-decoration: none;
}

.HomeScreen h1, .HomeScreen h2 {
  font-weight: 400;
  color: rgba(0 0 0 / 0.8);
}

