html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #00C55F;
}

body, input {
  font-family: "Outfit", sans-serif;
}

h1, h2 {
  font-weight: 400;
  color: rgba(0 0 0 / 0.8);
}

a {
  color: rgba(255 255 255 / 0.8);
  text-decoration: none;
}

a:hover {
  color: rgba(255 255 255 / 1.0);
}

.environmentWarningLabel {
  color: rgba(255 255 255 / 1.0);
  text-align: center;
  vertical-align: middle;
}

.FormScreen, .FormScreen input {
  color: rgba(255 255 255 / 0.9);
}

.FormScreen input[type="button"] {
  margin: 4px 0;
  background-color: transparent;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.FormScreen input[type="button"].Primary {
  border: 1px solid white;
  border-radius: 12px;
  padding: 8px;
}

.FormScreen input[type="button"].Secondary {
  border: none;
  padding: 6px;
}
